*body{
    font-family: 'Poppins', sans-serif;
}
/* .bg-color{
    background-color: aqua;
} */
.container{
    margin-bottom: 50px;
}
.navbar-brand img{
    width: 150px;
}
.highlight{
    background-color: rgb(43, 170, 121);
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    border: none;
    padding: 5px 10px;
}
.top-banner{
    padding: 0px 90px
}

.highlight:hover{
   
    color: black;
}
.color-black:hover{
    
    color:  black;
}
.color-black{
    color: black;
    text-transform: uppercase;
}
.col-md-5 img{
    width: 100%;
}
h6{
    color: rgb(224, 55, 13);
}
.top-highlight{
    color: rgb(43, 170, 121);
}
.button-highlight{
    background-color: rgb(43, 170, 121);
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    border: none;
    padding: 5px 15px;
}
.mid-content img{
    width: 80px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    
   
}
.mid-content{
    
    overflow: hidden;
}
.mid-content:hover img{
    transform: scale(1.2);
    transition: transform 1s;
}
.mid-div{
   
    padding: 2px 20px;
    
}
.course img{
    width: 100%;
    
    
}
.photo{
    margin-top: 10px;
    
   
}
.col-md-4{
    overflow: hidden;
    

    
   
}
.col-md-4:hover .photo {
    transform: scale(1.05);
    transition: transform 1s;
   
    
}

.course-heading{
    text-align: center;
    color: rgb(34, 13, 54);
    margin-bottom: 40px;
}
.modern{
color:rgb(34, 13, 54);
padding: 20px 0px 0px 10px;

}
.des{
    color: gray;
    padding-left: 10px;
}
.testimonial,
.small{
    text-transform: capitalize;
    margin-bottom: 10px;
}
.col-mid-2 img{
    width: 30px;
    height: 20px;
}
.people,
.date{
    
    padding-left: 10px;
}

.testimonial img{
    width: 90%;
}
.tmonial{
    text-align: center;
    text-transform: capitalize;
    color: rgb(34, 13, 54);
}
.img-fluid{
    border: 2px solid rgb(34, 13, 54);
}
.tmonial-pra{
    color:rgb(34, 13, 54) ;
    font-size: medium;
}
.bg-footer{
    background-color:rgb(21, 9, 32);
   width: 100%;
    height: 400px;
}
.onu{
    color: white;
    text-align: center;
    
}
.footer-list,
.h5-head{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.container{
    width: 100%;
    padding: 20px 20px;
}
a:link {
    text-decoration: none;
    color: black;
}
.copy-tag{
    color: white;
    text-align: center;
    margin-top: 70px;
}


